* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2b2923;
  overflow: hidden;
}
nav {
  display: flex;
  /* height: 10vh; */
  align-items: center;
  justify-content: space-between;
  padding: 15px 10%;
  margin-right: 70px;
}
nav ul {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 30px;
}
nav ul li {
  list-style: none;
  color: #fff;
}
.white-logo {
  height: 30px;
}
button {
  padding: 10px 10px;
  color: rgb(211, 211, 62);
  border: 1px solid rgb(211, 211, 62);
  border-radius: 10px;
}
main {
  padding: 15px 10%;
  display: flex;
  gap: 120px;
}
.leftmain {
  font-size: 80px;
  color: #fff;
  width: 46%;
}
.rightmain {
  font-size: 20px;
  align-self: center;
  justify-self: center;
  width: 360px;
  padding: 20px 0px;
  color: #f5fff5;
  line-height: 30px;
}
.image {
  margin: 0px 10%;
}
