* {
  overflow: hidden;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px;
}
.list {
  display: flex;
  gap: 60px;
  margin-right: 300px;
  font-weight: bold;
  font-size: 18px;
  font-family: "Poppins";
}

.list-item {
  display: flex;
}
.nav-button {
  background-color: #fff;
  padding: 8px 20px;
  border-radius: 10px;
  margin-right: 80px;
  margin-left: 10px;
  width: 120px;
  border: 2px solid black;
}
.button-group {
  display: flex;
}
.hero-container {
  display: flex;
}
.hero-container-right {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 160px;
  align-items: center;
}
.hero-heading {
  font-size: 60px;
  font-family: "Poppins";
  margin-bottom: 10px;
}
.hero-description {
  width: 580px;
  text-align: center;
}
.contact-heading {
  text-align: center;
  margin-top: 50px;
}
.square {
  position: absolute;
  top: 410px;
  height: 300px;
  z-index: -1;
  left: 150px;
}
.square + .star {
  position: absolute;
  right: 90px;
  top: 150px;
}
.star + .star {
  position: relative;
  top: 500px;
  left: 700px;
}
.globe {
  position: absolute;
  right: 45%;
}
.hero-container > div > img {
  height: 550px;
  width: 400px;
  position: relative;
  top: 100px;
}
.button-email {
  background-color: #fff;
  border: 2px solid #000;
  padding: 3px 20px;
  margin-top: 60px;
  border-radius: 10px;
  width: 130px;
}
.icons {
  display: flex;
  gap: 20px;
}
.button-join {
  background-color: #000;
  color: #fff;
  padding: 4px 6px;
  border-radius: 10px;
  margin-left: 15px;
}
.navbar-container > div > img {
  height: 40px;
  margin-left: 40px;
}
